'.source.coffee':


  'Ember.ObjectController.extend(...':
    'prefix': 'ObjectController'
    'body':
      """
        _export = Ember.ObjectController.extend(
          actions:
            ${2:name}: ->
              ${3:#logic...}
        )
      """




  'Ember.ArrayController.extend(...':
    'prefix': 'ArrayController'
    'body':
      """
        _export = Ember.ArrayController.extend(
          actions:
            ${2:name}: ->
              ${3:#logic...}

        )
      """



  'Ember.controller.extend(...':
    'prefix': 'controller'
    'body':
      """
        _export = Ember.controller.extend(
          actions:
            ${2:name}: ->
              ${3:#logic...}
        )
      """



  'itemController : ...':
    'prefix': 'ArrayController_itemController'
    'body': "itemController : '${1:an_objController}'}"


  'sortProperties : ...':
    'prefix': 'ArrayController_sortProperties'
    'body': "sortProperties : ['${1:property}']}"


  'sortAscending : ...':
    'prefix': 'ArrayController_sortAscending'
    'body': "sortAscending : ['${1:false}']}"
