# useful for eliminating the errors in console when using ember-cli

'.source.js':

  'Content Security Policy':
    'prefix': 'contentSecurityPolicy'
    'body': """
    contentSecurityPolicy: {
      'default-src': "'none'",
      'script-src': "'self' 'unsafe-inline' 'unsafe-eval'",
      'font-src': "'self'",
      'connect-src': "'self'",
      'img-src': "'self'",
      'style-src': "'self' 'unsafe-inline'",
      'media-src': "'self'",
      'frame-src': "'none'"
    }
    """
