'.source.coffee':


  'Ember.ObjectController.extend(...':
    'prefix': 'em_ObjectController'
    'body':
      """
        _export = Ember.ObjectController.extend(
          actions:
            ${2:name}: ->
              ${3:#logic...}
        )
      """



  'Ember.controller.extend(...':
    'prefix': 'em_controller'
    'body':
      """
        _export = Ember.controller.extend(
          actions:
            ${2:name}: ->
              ${3:#logic...}
        )
      """




  'Ember.ArrayController.extend(...':
    'prefix': 'em_ArrayController'
    'body':
      """
        _export = Ember.ArrayController.extend(
          actions:
            ${2:name}: ->
              ${3:#logic...}

        )
      """





  'itemController : ...':
    'prefix': 'em_ArrayController_itemC'
    'body': "itemController : '${1:an_objController}'}"


  'sortProperties : ...':
    'prefix': 'em_ArrayController_sortP'
    'body': "sortProperties : ['${1:property}']}"


  'sortAscending : ...':
    'prefix': 'em_ArrayController_sortA'
    'body': "sortAscending : ['${1:false}']}"
