# Ember Functions snippets
#
# Examples
#
#  `ember<tab>`
#

'.source.js, .source.ts':
  'run(() => { ... })':
    'prefix': 'run'
    'leftLabel': 'Ember'
    'body':"""
      run(() => {
      \t${1}
      });
    """
  #
  #
  # Ember Object Snippets
  #
  'let ... get(...)':
    'prefix': 'lget'
    'leftLabel': 'Ember'
    'body': 'let $1 = ${2:this}.get(\'$1\');'

  '.set(...)':
    'prefix': 'set'
    'leftLabel': 'Ember'
    'body': "${1:this}.set('${2}', ${3});"

  '.get(...)':
    'prefix': 'get'
    'leftLabel': 'Ember'
    'body': "${1:this}.get('${2}');"

  'this._super(...)':
    'prefix': 'super'
    'leftLabel': 'Ember'
    'body': 'this._super(...arguments);'

  'init() { ... }':
    'prefix': 'init'
    'leftLabel': 'Ember'
    'body':"""
      init() {
      \tthis._super(...arguments);
      \t${1}
      },
    """

  'service(...)':
    'prefix': 'service'
    'leftLabel': 'Ember'
    'body': 'service(${1}),'

  'observer(...)':
    'prefix': 'observer'
    'leftLabel': 'Ember'
    'body': """
      observer('${1:property}', function() {
      \t${2:// body}
      }),
    """

  'on(...)':
    'prefix': 'on'
    'leftLabel': 'Ember'
    'body': """
      on('${1:property}', function() {
      \t${2:// body}
      }),
    """

  'actions: { ... }':
    'prefix': 'actions'
    'leftLabel': 'Ember'
    'body': """
      actions: {
      \t${1:// body}
      }
    """

  #
  # Computeds!
  #
  'computed(...)':
    'prefix': 'computed'
    'leftLabel': 'Ember'
    'body': """
      computed('${1:property}', function() {
      \t${2:// body}
      }),
    """

  'alias(...)':
    'prefix': 'alias'
    'leftLabel': 'Ember'
    'body': "alias('${1:key}');"

  'and(...)':
    'prefix': 'and'
    'leftLabel': 'Ember'
    'body': "and('${1:key1}', '${2:key2}');"

  'bool(...)':
    'prefix': 'bool'
    'leftLabel': 'Ember'
    'body': "bool(${1:key});"

  'collect(...)':
    'prefix': 'collect'
    'leftLabel': 'Ember'
    'body': "collect(${1:keys});"

  'empty(...)':
    'prefix': 'empty'
    'leftLabel': 'Ember'
    'body': "empty('${1:key}');"

  'equal(...)':
    'prefix': 'equal'
    'leftLabel': 'Ember'
    'body': "equal('${1:key}', ${2:value});"

  'filter(...)':
    'prefix': 'filter'
    'leftLabel': 'Ember'
    'body': """
      filter(${1:key}, function(#{2:item}${3:, index}) {
        return #{2:item};
      }));
    """

  'filterBy(...)':
    'prefix': 'filterBy'
    'leftLabel': 'Ember'
    'body': "filterBy('${1:key}', ${2:propertyKey}, ${3:value});"

  'gt(...)':
    'prefix': 'gt'
    'leftLabel': 'Ember'
    'body': "gt('${1:key}', ${2:value});"

  'gte(...)':
    'prefix': 'gte'
    'leftLabel': 'Ember'
    'body': "gte('${1:key}', ${2:value});"

  'intersect(...)':
    'prefix': 'intersect'
    'leftLabel': 'Ember'
    'body': "intersect('${1:key1}', '${2:key2}');"

  'lt(...)':
    'prefix': 'lt'
    'leftLabel': 'Ember'
    'body': "lt('${1:key}', ${2:value});"

  'lte(...)':
    'prefix': 'lte'
    'leftLabel': 'Ember'
    'body': "lte('${1:key}', ${2:value});"

  'map(...)':
    'prefix': 'map'
    'leftLabel': 'Ember'
    'body': """
      map(${1:key}, function(#{2:item}${3:, index}) {
        return #{2:item};
      }));
    """

  'mapBy(...)':
    'prefix': 'mapBy'
    'leftLabel': 'Ember'
    'body': "mapBy('${1:key}', ${2:propertyKey});"

  'match(...)':
    'prefix': 'match'
    'leftLabel': 'Ember'
    'body': "match('${1:key}', ${2:regEx});"

  'max(...)':
    'prefix': 'max'
    'leftLabel': 'Ember'
    'body': "max('${1:key}');"

  'min(...)':
    'prefix': 'min'
    'leftLabel': 'Ember'
    'body': "min('${1:key}');"

  'none(...)':
    'prefix': 'none'
    'leftLabel': 'Ember'
    'body': "none('${1:key}');"

  'not(...)':
    'prefix': 'not'
    'leftLabel': 'Ember'
    'body': "not('${1:key}');"

  'notEmpty(...)':
    'prefix': 'notEmpty'
    'leftLabel': 'Ember'
    'body': "notEmpty('${1:key}');"

  'oneWay(...)':
    'prefix': 'oneWay'
    'leftLabel': 'Ember'
    'body': "oneWay('${1:key}');"

  'or(...)':
    'prefix': 'or'
    'leftLabel': 'Ember'
    'body': "or('${1:key1}', '${2:key2}');"

  'readOnly(...)':
    'prefix': 'readOnly'
    'leftLabel': 'Ember'
    'body': "readOnly('${1:key}');"

  'reads(...)':
    'prefix': 'reads'
    'leftLabel': 'Ember'
    'body': "reads('${1:key}');"

  'setDiff(...)':
    'prefix': 'setDiff'
    'leftLabel': 'Ember'
    'body': "setDiff('${1:key1}', '${2:key2}');"

  'sort(...)':
    'prefix': 'sort'
    'leftLabel': 'Ember'
    'body': "sort('${1:itemsKey}', '${2:sortDefinition}');"

  'sum(...)':
    'prefix': 'sum'
    'leftLabel': 'Ember'
    'body': "sum('${1:key}');"

  'union(...)':
    'prefix': 'union'
    'leftLabel': 'Ember'
    'body': "union('${1:key1}', '${2:key2}');"

  'uniq(...)':
    'prefix': 'uniq'
    'leftLabel': 'Ember'
    'body': "uniq('${1:key}', '${2:propertyKey}');"

  'uniqBy(...)':
    'prefix': 'uniqBy'
    'leftLabel': 'Ember'
    'body': "uniqBy('${1:key}');"

  #
  #
  # runloop
  #
  'bind(...)':
    'prefix': 'bind'
    'leftLabel': 'Ember'
    'body': "bind(${1:this}, ${2:this.methodName});"

  'cancel(...)':
    'prefix': 'cancel'
    'leftLabel': 'Ember'
    'body': "cancel('${1:key}');"

  'debounce(...)':
    'prefix': 'debounce'
    'leftLabel': 'Ember'
    'body': "debounce(${1:this}, '${2:methodName}', ${3:500});"

  'later(...)':
    'prefix': 'later'
    'leftLabel': 'Ember'
    'body': "later(${1:this}, () => { ${2}\\}, ${3:500});"

  'next(...)':
    'prefix': 'next'
    'leftLabel': 'Ember'
    'body': "next(${1:this}, () => { ${2}\\});"

  'once(...)':
    'prefix': 'once'
    'leftLabel': 'Ember'
    'body': "once(${1:this}, () => { ${2}\\});"

  'run(...)':
    'prefix': 'run'
    'leftLabel': 'Ember'
    'body': "run(() => { ${1}\\});"

  'schedule(...)':
    'prefix': 'schedule'
    'leftLabel': 'Ember'
    'body': "schedule('${1:queue}', ${2:this}, () => { ${3}\\}, );"

  'scheduleOnce(...)':
    'prefix': 'scheduleOnce'
    'leftLabel': 'Ember'
    'body': "scheduleOnce('${1:queue}', ${2:this}, () => { ${3}\\}, );"

  'throttle(...)':
    'prefix': 'throttle'
    'leftLabel': 'Ember'
    'body': "throttle(${1:this}, '${2:methodName}', ${3:500});"

  #
  #
  # runloop
  #
  'bind(...)':
    'prefix': 'bind'
    'leftLabel': 'Ember'
    'body': "bind(${1:this}, ${2:this.methodName});"

  'cancel(...)':
    'prefix': 'cancel'
    'leftLabel': 'Ember'
    'body': "cancel(${1});"

  'debounce(...)':
    'prefix': 'debounce'
    'leftLabel': 'Ember'
    'body': "debounce(${1:this}, '${2:methodName}', ${3:500});"

  'later(...)':
    'prefix': 'later'
    'leftLabel': 'Ember'
    'body': "later(${1:this}, () => { ${2}\\}, ${3:500});"

  'next(...)':
    'prefix': 'next'
    'leftLabel': 'Ember'
    'body': "next(${1:this}, () => { ${2}\\});"

  'once(...)':
    'prefix': 'once'
    'leftLabel': 'Ember'
    'body': "once(${1:this}, () => { ${2}\\});"

  'run(...)':
    'prefix': 'run'
    'leftLabel': 'Ember'
    'body': "run(() => { ${1}\\});"

  'schedule(...)':
    'prefix': 'schedule'
    'leftLabel': 'Ember'
    'body': "schedule('${1:queue}', ${2:this}, () => { ${3}\\}, );"

  'scheduleOnce(...)':
    'prefix': 'scheduleOnce'
    'leftLabel': 'Ember'
    'body': "scheduleOnce('${1:queue}', ${2:this}, () => { ${3}\\}, );"

  'throttle(...)':
    'prefix': 'throttle'
    'leftLabel': 'Ember'
    'body': "throttle(${1:this}, '${2:methodName}', ${3:500});"

  #
  #
  # Route Snippets
  #
  'Route: model(...) { ... }':
    'prefix': 'model'
    'leftLabel': 'Ember'
    'body': """
      model(params = {}) {
      \treturn this.store.query('${1}', params);
      },
    """

  'Route: setupController(...) { ... }':
    'prefix': 'setupController'
    'leftLabel': 'Ember'
    'body':"""
      setupController(controller, model) {
      \tthis._super(controller, model);
      \t${1}
      },

    """

  'Route: beforeModel(...) { ... }':
    'prefix': 'beforeModel'
    'leftLabel': 'Ember'
    'body':"""
      beforeModel(transition) {
      \tthis._super(controller, model);
      \t${1}
      },

    """

  'Route: afterModel(...) { ... }':
    'prefix': 'afterModel'
    'leftLabel': 'Ember'
    'body':"""
      afterModel(model, transition) {
      \tthis._super(controller, model);
      \t${1}
      },

    """

  #
  #
  # Component Snippets
  #
  'Component: didReceiveAttrs() { ... }':
    'prefix': 'didReceiveAttrs'
    'leftLabel': 'Ember'
    'body':"""
      didReceiveAttrs() {
      \tthis._super(...arguments);
      \t${1}
      },

    """

  'Component: didRender() { ... }':
    'prefix': 'didRender'
    'leftLabel': 'Ember'
    'body':"""
      didRender() {
      \tthis._super(...arguments);
      \t${1}
      },
    """

  'Component: didUpdateAttrs() { ... }':
    'prefix': 'didUpdateAttrs'
    'leftLabel': 'Ember'
    'body':"""
      didUpdateAttrs() {
      \tthis._super(...arguments);
      \t${1}
      },
    """

  'Component: willUpdate() { ... }':
    'prefix': 'willUpdate'
    'leftLabel': 'Ember'
    'body':"""
      willUpdate() {
      \tthis._super(...arguments);
      \t${1}
      },
    """

  'Component: didInsertElement() { ... }':
    'prefix': 'didInsertElement'
    'leftLabel': 'Ember'
    'body':"""
      didInsertElement() {
      \tthis._super(...arguments);
      \t${1}
      },
    """

  'Component: willDestroyElement() { ... }':
    'prefix': 'willDestroyElement'
    'leftLabel': 'Ember'
    'body':"""
      willDestroyElement() {
      \tthis._super(...arguments);
      \t${1}
      },
    """

  'Component: willClearElement() { ... }':
    'prefix': 'willClearElement'
    'leftLabel': 'Ember'
    'body':"""
      willClearElement() {
      \tthis._super(...arguments);
      \t${1}
      },
    """

  'Component: didDestroyElement() { ... }':
    'prefix': 'didDestroyElement'
    'leftLabel': 'Ember'
    'body':"""
      didDestroyElement() {
      \tthis._super(...arguments);
      \t${1}
      },
    """

  #
  #
  # Enumerables
  #
  '.filterBy(...)':
    'prefix': 'filter-by'
    'leftLabel': 'Ember'
    'body': "${1:enumerable}.filterBy('${2:property}', ${3:value});"

  '.mapBy(...)':
    'prefix': 'map-by'
    'leftLabel': 'Ember'
    'body': "${1:enumerable}.mapBy('${2:property}');"

  '.every(...)':
    'prefix': 'every'
    'leftLabel': 'Ember'
    'body': """
      ${1:enumerable}.every(function(${2:item}) {
      \t${3}
      });
    """

  '.isEvery(...)':
    'prefix': 'is-every'
    'leftLabel': 'Ember'
    'body': "${1:enumerable}.isEvery('${2:property}', ${3:bool});"

  '.some(...)':
    'prefix': 'some'
    'leftLabel': 'Ember'
    'body': """
      ${1:enumerable}.some(function(${2:item}) {
      \t${3}
      });
    """

  '.isAny(...)':
    'prefix': 'is-any'
    'leftLabel': 'Ember'
    'body': "${1:enumerable}.isAny('${2:property}', ${3:bool});"

  '.toArray(...)':
    'prefix': 'to-array'
    'leftLabel': 'Ember'
    'body': '${1:enumerable}.toArray();'

  '.get(\'firstObject\')':
    'prefix': 'first-object'
    'leftLabel': 'Ember'
    'body': "${1:enumerable}.get('firstObject');"

  '.get(\'lastObject\')':
    'prefix': 'last-object'
    'leftLabel': 'Ember'
    'body': "${1:enumerable}.get('lastObject');"
