# Ember Data Snippets

'.source.js, .source.ts':
  'store.findAll(...)':
    'prefix': 'find-all'
    'leftLabel': 'Ember Data'
    'body': "this.store.findAll('${1:model}');"

  'store.findRecord(...)':
    'prefix': 'find-record'
    'leftLabel': 'Ember Data'
    'body': "this.store.findRecord('${1:model}', params.${1:model}_id);"

  'store.peekAll(...)':
    'prefix': 'peek-all'
    'leftLabel': 'Ember Data'
    'body': "this.store.peekAll('${1:model}');"

  'store.peekRecord(...)':
    'prefix': 'peek-record'
    'leftLabel': 'Ember Data'
    'body': "this.store.peekRecord('${1:model}', params.${1:model}_id);"

  'store.query(...)':
    'prefix': 'query-all'
    'leftLabel': 'Ember Data'
    'body': "this.store.query('${1:model}', { ${2:queryKey}: ${3:queryValue}});"

  'store.queryRecord(...)':
    'prefix': 'query-record'
    'leftLabel': 'Ember Data'
    'body': "this.store.queryRecord('${1:model}', { ${2:queryKey}: ${3:queryValue}});"

  'attr(...)':
    'prefix': 'attr'
    'leftLabel': 'Ember Data'
    'body': "attr('${1:string}'),"

  'belongsTo(...)':
    'prefix': 'belongsTo'
    'leftLabel': 'Ember Data'
    'body': "belongsTo('${1:name}'),"

  'hasMany(...)':
    'prefix': 'hasMany'
    'leftLabel': 'Ember Data'
    'body': "hasMany('${1:string}'),"

#############################
# DEPRECATED
#############################
'.source.coffee':

  'Ember Data: Find':
    'prefix': 'find'
    'body': "this.store.find${1:(}'${2:model}'${1:)}"

  'Ember Data: Find by id':
    'prefix': 'find-id'
    'body': "this.store.find${1:(}'${2:model}', params.${2:model}_id${1:)}"

  'Ember Data: Find All':
    'prefix': 'find-all'
    'body': "this.store.findAll${1:(}'${2:model}'${1:)}"

  'Ember Data: Find Record':
    'prefix': 'find-record'
    'body': "this.store.findRecord${1:(}'${2:model}', params.${2:model}_id${1:)}"

  'Ember Data: Peek All':
    'prefix': 'peek-all'
    'body': "this.store.peekAll${1:(}'${2:model}'${1:)}"

  'Ember Data: Peek Record':
    'prefix': 'peek-record'
    'body': "this.store.peekRecord${1:(}'${2:model}', params.${2:model}_id${1:)}"

  'Ember Data: Query All':
    'prefix': 'query-all'
    'body': "this.store.query${1:(}'${2:model}', { ${2:queryKey}: ${3:queryValue}}${1:)}"

  'Ember Data: Query Record':
    'prefix': 'query-all'
    'body': "this.store.queryRecord${1:(}'${2:model}', { ${2:queryKey}: ${3:queryValue}}${1:)}"
