# Ember Enumerables snippets
#
# Examples
#
#  `ember<tab>`
#

'.source.js':

  'Ember forEach':
    'prefix': 'forEach'
    'body': """
      ${1:enumerable}.forEach(function(${2:item}) {
        ${5}
      }${3:, ${4:this}});
    """

  'Ember filter':
    'prefix': 'filter'
    'body': """
      ${1:enumerable}.filter(function(${2:item}) {
        ${3}
      });
    """

  'Ember filterBy':
    'prefix': 'filterby'
    'body': "${1:${2:var }${3:variable} = }${4:enumerable}.filterBy('${5:property}', ${6:value});"

  'Ember map':
    'prefix': 'map'
    'body': """
      ${1:var }${2:variable} = ${3:enumerable}.map(function(${4:item}) {
        ${5}
      });
    """

  'Ember mapBy':
    'prefix': 'mapBy'
    'body': "${1:${2:var }${3:variable} = }${4:enumerable}.mapBy('${5:property}');"

  'Ember every':
    'prefix': 'every'
    'body': """
      ${1:enumerable}.every(function(${2:item}) {
        ${3}
      });
    """

  'Ember isEvery':
    'prefix': 'isEvery'
    'body': "${1:${2:var }${3:variable} = }${4:enumerable}.isEvery('${5:property}', ${6:bool});"

  'Ember some':
    'prefix': 'some'
    'body': """
      ${1:enumerable}.some(function(${2:item}) {
        ${3}
      });
    """

  'Ember isAny':
    'prefix': 'isAny'
    'body': "${1:${2:var }${3:variable} = }${4:enumerable}.isAny('${5:property}', ${6:bool});"

  'Ember toArray':
    'prefix': 'toArray'
    'body': '${1:${2:var }${3:variable} = }${4:enumerable}.toArray();'

  'Ember firstObject':
    'prefix': 'firstObject'
    'body': "${1:${2:var }${3:variable} = }${4:enumerable}.get('firstObject');"

  'Ember lastObject':
    'prefix': 'lastObject'
    'body': "${1:${2:var }${3:variable} = }${4:enumerable}.get('lastObject');"


'.source.coffee':

  'Ember forEach':
    'prefix': 'forEach'
    'body': """
      ${1:enumerable}.forEach (${2:item}) ->
        ${3}
    """

  'Ember filter':
    'prefix': 'filter'
    'body': """
      ${1:enumerable}.filter (${2:item}) ->
        ${3}
    """

  'Ember filterBy':
    'prefix': 'filterBy'
    'body': "${1:${2:variable} = }${3:enumerable}.filterBy '${4:property}', ${5:value}"

  'Ember map':
    'prefix': 'map'
    'body': """
      ${1:variable} = ${2:enumerable}.map (${3:item}) ->
        ${4}
    """

  'Ember mapBy':
    'prefix': 'mapBy'
    'body': "${1:${2:variable} = }${3:enumerable}.mapBy '${4:property}'"

  'Ember every':
    'prefix': 'every'
    'body': """
      ${1:enumerable}.every (${2:item}) ->
        ${3}
    """

  'Ember isEvery':
    'prefix': 'isEvery'
    'body': "${1:${2:variable} = }${3:enumerable}.isEvery '${4:property}', ${5:bool}"

  'Ember some':
    'prefix': 'some'
    'body': """
      ${1:enumerable}.some (${2:item}) ->
        ${3}
    """

  'Ember isAny':
    'prefix': 'isAny'
    'body': "${1:${2:variable} = }${3:enumerable}.isAny '${4:property}', ${5:bool}"

  'Ember toArray':
    'prefix': 'toArray'
    'body': '${1:${2:variable} = }${3:enumerable}.toArray()'

  'Ember firstObject':
    'prefix': 'firstObject'
    'body': "${1:${2:variable} = }${3:enumerable}.get 'firstObject'"

  'Ember lastObject':
    'prefix': 'lastObject'
    'body': "${1:${2:variable} = }${3:enumerable}.get 'lastObject'"
