'.source.coffee':


  'import Ember from...':
    'prefix': 'em_es6_importEmber'
    'body':
      """
        `import Ember from "ember";`
        ${1}
      """




  'import DS from...':
    'prefix': 'em_es6_importDs'
    'body':
      """
        `import DS from 'ember-data';`
        ${1}
      """




  'import custom from...':
    'prefix': 'em_es6_custom'
    'body':
      """
        `import ${1:var} from './${2}';`
        ${3}
      """




  'export Default...':
    'prefix': 'em_es6_exportDefault'
    'body':
      """

        ${2}


        `export default ${1:_export};`
      """




  'both imports and export...':
    'prefix': 'em_es6_fullset'
    'body':
      """
        ${1:`import Ember from 'ember';`}
        ${2:`import DS    from 'ember-data';`}



        ${3}



        `export default _export;`

      """
