'.source.coffee':


  'import Ember from':
    'prefix': 'es6_import_ember'
    'body':
      """
        `import Ember from "ember";`
        ${1}
      """

  'import Ember from...':
    'prefix': 'import_ember'
    'body':
      """
        `import Ember from "ember";`
        ${1}
      """




  'import DS from':
    'prefix': 'es6_import_ds'
    'body':
      """
        `import DS from 'ember-data';`
        ${1}
      """

  'import DS from...':
    'prefix': 'import_ds'
    'body':
      """
        `import DS from 'ember-data';`
        ${1}
      """


  'import custom from':
    'prefix': 'es6_import_custom'
    'body':
      """
        `import ${1:var} from './${2}';`
        ${3}
      """


  'import custom from...':
    'prefix': 'import_custom'
    'body':
      """
        `import ${1:var} from './${2}';`
        ${3}
      """

  'export Default':
    'prefix': 'es6_export_default'
    'body':
      """

        ${2}


        `export default ${1:_export};`
      """



  'export Default...':
    'prefix': 'export_default'
    'body':
      """

        ${2}


        `export default ${1:_export};`
      """




  'both imports and export...':
    'prefix': 'es6_fullset'
    'body':
      """
        ${1:`import Ember from 'ember';`}
        ${2:`import DS    from 'ember-data';`}



        ${3}



        `export default _export;`

      """
