# Ember Modules snippets
#
# Examples
#
#  `ember<tab>`
#

'.source.js':

  'Route Skeleton':
    'prefix': 'route'
    'leftLabel': 'Ember'
    'body': """
      import Ember from 'ember';
      const { Route } = Ember;

      export default Route.extend({
        model: function() {
          ${1:// body}
        },
      });
    """

  'Controller Skeleton':
    'prefix': 'controller'
    'leftLabel': 'Ember'
    'body': """
      import Ember from 'ember';
      const { Controller } = Ember;

      export default Controller.extend({
        ${1:// body}
      });
    """

  'Service Skeleton':
    'prefix': 'service'
    'leftLabel': 'Ember'
    'body': """
      import Ember from 'ember';
      const { Service } = Ember;

      export default Service.extend({
        ${1:// body}
      });
    """

  'Component Skeleton':
    'prefix': 'component'
    'leftLabel': 'Ember'
    'body': """
      import Ember from 'ember';
      const { Component } = Ember;

      export default Component.extend({
        ${1:// body}
      });
    """

  'Mixin Skeleton':
    'prefix': 'mixin'
    'leftLabel': 'Ember'
    'body': """
      import Ember from 'ember';

      export default Ember.Mixin.create({
        ${1:// body}
      });
    """

  'Object Skeleton':
    'prefix': 'object'
    'leftLabel': 'Ember'
    'body': """
      import Ember from 'ember';
      const { Object } = Ember;

      export default Object.extend({
        ${1:// body}
      });
    """

  'Helper Skeleton':
    'prefix': 'bound-helper'
    'leftLabel': 'Ember'
    'body': """
      import Ember from 'ember';

      export default Ember.Handlebars.makeBoundHelper(function() {
        ${1:// body}
      });
    """

  'Helper Skeleton':
    'prefix': 'helper'
    'leftLabel': 'Ember'
    'body': """
      import Ember from 'ember';
      const { Helper } = Ember;

      export default Helper.extend({
        compute: function() {
          ${1:// body}
        }
      });
    """

  'Model Skeleton':
    'prefix': 'model'
    'leftLabel': 'Ember'
    'body': """
      import DS from 'ember-data';

      export default DS.Model.extend({
        ${1:// body}
      });
    """

  'REST Adapter Skeleton':
    'prefix': 'adapter'
    'leftLabel': 'Ember'
    'body': """
      import DS from 'ember-data';

      export default DS.RESTAdapter.extend({
        ${1:// body}
      });
    """

  'Active Model Adapter Skeleton':
    'prefix': 'active-adapter'
    'leftLabel': 'Ember'
    'body': """
      import DS from 'ember-data';

      export default DS.ActiveModelAdapter.extend({
        ${1:// body}
      });
    """

  'JSON API Adapter Skeleton':
    'prefix': 'jsonapi-adapter'
    'leftLabel': 'Ember'
    'body': """
      import DS from 'ember-data';

      export default DS.JSONAPIAdapter.extend({
        ${1:// body}
      });
    """

  'REST Serializer Skeleton':
    'prefix': 'serializer'
    'leftLabel': 'Ember'
    'body': """
      import DS from 'ember-data';

      export default DS.RESTSerializer.extend({
        ${1:// body}
      });
    """

  'Active Model Serializer Skeleton':
    'prefix': 'active-serializer'
    'leftLabel': 'Ember'
    'body': """
      import DS from 'ember-data';

      export default DS.ActiveModelSerializer.extend({
        ${1:// body}
      });
    """

  'JSON API Serializer Skeleton':
    'prefix': 'jsonapi-serializer'
    'leftLabel': 'Ember'
    'body': """
      import DS from 'ember-data';

      export default DS.JSONAPISerializer.extend({
        ${1:// body}
      });
    """

  'Transform Serializer Skeleton':
    'prefix': 'transform'
    'leftLabel': 'Ember'
    'body': """
      import DS from 'ember-data';

      export default DS.Transforms.extend({
        ${1:// body}
      });
    """

  'Initializer Skeleton':
    'prefix': 'initializer'
    'leftLabel': 'Ember'
    'body': """
      export default {
        name: '${1:name}',
        initialize: function() {
          ${2:// body}
        }
      };
    """

  'Utility Skeleton':
    'prefix': 'utility'
    'leftLabel': 'Ember'
    'body': """
      export default function ${1:myUtility}() {
        ${2:// body}
      };
    """

'.source.coffee':

  'Route Skeleton':
    'prefix': 'route'
    'body': """
      ${1:name}Route = Ember.Route.extend
        model: ->
          ${2:# body}

      `export default ${1}Route`
    """

  'Controller Skeleton':
    'prefix': 'controller'
    'body': """
      ${1:name}Controller = Ember.Controller.extend
        ${2:# body}

      `export default ${1}Controller`
    """

  'Service Skeleton':
    'prefix': 'service'
    'body': """
      ${1:name}Service = Ember.Service.extend
        ${2:# body}

      `export default ${1}Service`
    """

  'Array Controller Skeleton':
    'prefix': 'arr-controller'
    'body': """
      ${1:name}Controller = Ember.ArrayController.extend
        ${2:# body}

      `export default ${1}Controller`
    """

  'View Skeleton':
    'prefix': 'view'
    'body': """
      ${1:name}View = Ember.View.extend
        ${2:# body}

      `export default ${1}View`
    """

  'Component Skeleton':
    'prefix': 'component'
    'body': """
      ${1:name}Component = Ember.Component.extend
        ${2:# body}

      `export default ${1}Component`
    """

  'Mixin Skeleton':
    'prefix': 'mixin'
    'body': """
      ${1:name}Mixin = Ember.Mixin.create
        ${2:# body}

      `export default ${1}Mixin`
    """

  'Object Skeleton':
    'prefix': 'object'
    'body': """
      ${1:name} = Ember.Object.extend
        ${2:# body}

      `export default ${1}`
    """

  'Helper Skeleton':
    'prefix': 'bound-helper'
    'body': """
      ${1}Helper = Ember.Handlebars.makeBoundHelper ->
        ${2:# body}

      `export default ${1}Helper`
    """

  'Helper Skeleton':
    'prefix': 'helper'
    'body': """
      ${1}Helper = Ember.Helper.extend
        compute: ->
          ${2:# body}

      `export default ${1}Helper`
    """

  'Model Skeleton':
    'prefix': 'model'
    'body': """
      ${1:name} = DS.Model.extend
        ${2:# body}

      `export default ${1}`
    """

  'REST Adapter Skeleton':
    'prefix': 'adapter'
    'body': """
      ${1}Adapter = DS.RESTAdapter.extend
        ${2:# body}

      `export default ${1}Adapter`
    """

  'Active Model Adapter Skeleton':
    'prefix': 'active-adapter'
    'body': """
      ${1}Adapter = DS.ActiveModelAdapter.extend
        ${2:# body}

      `export default ${1}Adapter`
    """

  'JSON API Adapter Skeleton':
    'prefix': 'jsonapi-adapter'
    'body': """
      ${1}Adapter = DS.JSONAPIAdapter.extend
        ${2:# body}

      `export default ${1}Adapter`
    """

  'REST Serializer Skeleton':
    'prefix': 'serializer'
    'body': """
      ${1:name}Serializer = DS.RESTSerializer.extend
        ${2:# body}

      `export default ${1}Serializer`
    """

  'Active Model Serializer Skeleton':
    'prefix': 'active-serializer'
    'body': """

      ${1:name}Serializer = DS.ActiveModelSerializer.extend
        ${2:# body}

      `export default ${1}Serializer`
    """

  'JSON API Serializer Skeleton':
    'prefix': 'jsonapi-serializer'
    'body': """

      ${1:name}Serializer = DS.JSONAPISerializer.extend
        ${2:# body}

      `export default ${1}Serializer`
    """

  'Transform Serializer Skeleton':
    'prefix': 'transform'
    'body': """
      ${1:name}Transformer = DS.Transforms.extend
        ${2:# body}

      `export default ${1}Transformer`
    """

  'Initializer Skeleton':
    'prefix': 'initializer'
    'body': """
      ${1:name}Initializer =
        name: '${1:name}'
        initialize: ->
          ${2:# body}

      `export default ${1}Initializer`
    """

  'Utility Skeleton':
    'prefix': 'utility'
    'body': """
      ${1:myUtility} = ->
        ${2:# body}

      `export default ${1:myUtility}`
    """
