# Ember Functions snippets
#
# Examples
#
#  `ember<tab>`
#

'.source.js':

  'Ember Find':
    'prefix': 'find'
    'body': "this.store.find('${1:model}');"

  'Ember Find by id':
    'prefix': 'find-id'
    'body': "this.store.find('${1:model}', params.${1:model}_id);"

  'Ember Run':
    'prefix': 'run'
    'body': """
      Ember.run(function() {
        ${1:// body}
      });
    """

  'Ember Logger Debug':
    'prefix': 'logger-debug'
    'body': "Ember.Logger.debug('${1:message}');"

  'Ember Logger Log':
    'prefix': 'logger-log'
    'body': "Ember.Logger.log('${1:message}');"

  'Ember Logger Info':
    'prefix': 'logger-info'
    'body': "Ember.Logger.info('${1:message}');"

  'Ember Logger Warn':
    'prefix': 'logger-warn'
    'body': "Ember.Logger.warn('${1:message}');"

  'Ember Logger Error':
    'prefix': 'logger-error'
    'body': "Ember.Logger.error('${1:message}');"

  # Test Helpers
  'Ember Visit':
    'prefix': 'visit'
    'body': "visit('${1:url}');"

  'Ember Fill In':
    'prefix': 'fill-in'
    'body': "fillIn('${1:selector}', '${2:text}');"

  'Ember Click':
    'prefix': 'click'
    'body': "click('${1:selector}');"

  'Ember Key Event':
    'prefix': 'key-event'
    'body': "keyEvent('${1:selector}', '${2:type}', '${3:keyCode}');"

  'Ember Trigger Event':
    'prefix': 'trigger-event'
    'body': "triggerEvent('${1:selector}', '${2:type}', '${3:options}');"

  'Ember Find Element':
    'prefix': 'find-element'
    'body': "find('${1:selector}', '${2:context}');"

'.source.coffee':

  'Ember Find':
    'prefix': 'find'
    'body': "this.store.find${1:(}'${2:model}'${1:)}"

  'Ember Find by id':
    'prefix': 'find-id'
    'body': "this.store.find${1:(}'${2:model}', params.${2:model}_id${1:)}"

  'Ember Run':
    'prefix': 'run'
    'body': """
      Ember.run ->
        ${1:# body}
    """

  'Ember Logger Debug':
    'prefix': 'logger-debug'
    'body': "Ember.Logger.debug${1:(}\"${1:message}\"${1:)}"

  'Ember Logger Log':
    'prefix': 'logger-log'
    'body': "Ember.Logger.log${1:(}\"${2:message}\"${1:)}"

  'Ember Logger Info':
    'prefix': 'logger-info'
    'body': "Ember.Logger.info${1:(}\"${2:message}\"${1:)}"

  'Ember Logger Warn':
    'prefix': 'logger-warn'
    'body': "Ember.Logger.warn${1:(}\"${2:message}\"${1:)}"

  'Ember Logger Error':
    'prefix': 'logger-error'
    'body': "Ember.Logger.error${1:(}\"${2:message}\"${1:)}"

  # Test Helpers
  'Ember Visit':
    'prefix': 'visit'
    'body': "visit ${1:url}"

  'Ember Fill In':
    'prefix': 'fill-in'
    'body': "fillIn '${1:selector}', '${2:text}'"

  'Ember Click':
    'prefix': 'click'
    'body': "click '${1:selector}'"

  'Ember Key Event':
    'prefix': 'key-event'
    'body': "keyEvent '${1:selector}', '${2:type}', '${3:keyCode}'"

  'Ember Trigger Event':
    'prefix': 'trigger-event'
    'body': "triggerEvent '${1:selector}', '${2:type}', '${3:options}'"

  'Ember Find Element':
    'prefix': 'find-element'
    'body': "find '${1:selector}', '${2:context}'"
