
# /////////////////////////////////////
#   handlebars
# /////////////////////////////////////
'.text.handlebars':
  '#unless':
    'prefix': 'unless'
    'body': """
      {{#unless ${1}}}
        ${2}
      {{/unless}}
    """

  '#if':
    'prefix': 'if'
    'body': """
      {{#if ${1}}}
        ${2}
      {{/if}}
    """

  '#if else':
    'prefix': 'ife'
    'body': """
      {{#if ${1}}}
        ${2}
      {{else}}
        ${3}
      {{/if}}
    """

  '#each':
    'prefix': 'each'
    'body': """
      {{#each ${1} as |${2}|}}
        ${3}
      {{/each}}

    """

  '#each/else':
    'prefix': 'eachelse'
    'body': """
      {{#each ${1} as |${2}|}}
        ${3}
      {{else}}
        ${4}
      {{/each}}

    """

  '#link-to':
    'prefix':'link-to'
    'body': "{{#link-to '${1}'}}${2}{{/link-to}}"

  "component":
    'prefix': 'comp'
    'body': """
      {{#${1} ${2:as |${3:yielded}|}}}
        ${4}
      {{/${1}}}
    """
