
# /////////////////////////////////////
#   handlebars
# /////////////////////////////////////
'.text.handlebars':
  'Ember: get':
    'prefix': 'get'
    'body': "{{get '${1}'}}"

  'Ember: helper':
    'prefix': 'helper'
    'body': "{{${1:get} '${2}'}}"

  'Ember: closure helper':
    'prefix': 'chelper'
    'body': "(${1:get} '${2}')"

  'Ember: action':
    'prefix': 'action'
    'body': "{{action '${1:actionName}' ${2:argument}}}"

  'Ember: #each/else':
    'prefix': 'eachelse'
    'body': """
      {{#each ${1} as |${2}|}}
        ${3}
      {{else}}
        ${4}
      {{/each}}

    """

  "Ember: component":
    'prefix': 'comp'
    'body': """
      {{#${1} ${2:as |${3:yielded}|}}}
        ${4}
      {{/${1}}}
    """
