'.source.js, .source.ts':

  'Ember.Service':
    'prefix': 'imservice'
    'leftLabelHTML': '<span style="color:#E46651">Ember module</span>'
    'body': 'import Service from "@ember/service";'

  'Ember.inject.service':
    'prefix': 'iminjectService'
    'leftLabelHTML': '<span style="color:#E46651">Ember module</span>'
    'body': 'import { inject as service } from "@ember/service";'
