'.source.js, .source.ts':

  'Ember.object.action':
    'prefix': 'imdecaction',
    'leftLabelHTML': '<span style="color:#EDAE49">Ember Decorators module</span>',
    'body': "import { attribute } from '@ember-decorators/component;'"

  'Ember.object.computed':
    'prefix': 'imdeccomputed',
    'leftLabelHTML': '<span style="color:#EDAE49">Ember Decorators module</span>',
    'body': "import { className } from '@ember-decorators/component;'"

  'Ember.object.observes':
    'prefix': 'imdecobserves',
    'leftLabelHTML': '<span style="color:#EDAE49">Ember Decorators module</span>',
    'body': "import { classNames } from '@ember-decorators/component;'"

  'Ember.object.off':
    'prefix': 'imdecoff',
    'leftLabelHTML': '<span style="color:#EDAE49">Ember Decorators module</span>',
    'body': "import { attribute } from '@ember-decorators/component;'"

  'Ember.object.on':
    'prefix': 'imdecon',
    'leftLabelHTML': '<span style="color:#EDAE49">Ember Decorators module</span>',
    'body': "import { className } from '@ember-decorators/component;'"

  'Ember.object.unobserves':
    'prefix': 'imdecunobserves',
    'leftLabelHTML': '<span style="color:#EDAE49">Ember Decorators module</span>',
    'body': "import { classNames } from '@ember-decorators/component;'"

  'Ember.object.wrapComputed':
    'prefix': 'imdecwrapComputed',
    'leftLabelHTML': '<span style="color:#EDAE49">Ember Decorators module</span>',
    'body': "import { tagName } from '@ember-decorators/component;'"
