# ember-cli-mirage snippets

'.source.js, .source.ts':
  'Factory: afterCreate':
    'prefix': 'afterCreate'
    'leftLabel': 'Mirage'
    'body': """
      afterCreate(${1:model}, server) {
      \t$2
      },
    """

  'Factory: trait':
    'prefix': 'trait'
    'leftLabel': 'Mirage'
    'body': """
      $1: trait({
      \t$2
      }),
    """

  'Factory: .create(...)':
    'prefix': 'create'
    'leftLabel': 'Mirage'
    'body': """
      server.create(\'${1:model}\', ${2:\'${3:trait}\',} ${4:\{ $5 \}});
    """

  'Server endpoint':
    'prefix': 'server'
    'leftLabel': 'Mirage'
    'body': """
      server.${1:get}('${2:/}', (${3:schema, request}) => {
      \t$4
      });
    """
