# Ember Modules snippets
#
# Examples
#
#  `ember<tab>`
#

'.source.js':

  'Ember Route':
    'prefix': 'route'
    'body': """
      import Ember from 'ember';

      export default Ember.Route.extend({
        model: function() {
          ${1:// body}
        },
      });
    """

  'Ember Object Controller':
    'prefix': 'controller'
    'body': """
      import Ember from 'ember';

      export default Ember.ObjectController.extend({
        ${1:// body}
      });
    """

  'Ember Array Controller':
    'prefix': 'arr-controller'
    'body': """
      import Ember from 'ember';

      export default Ember.ArrayController.extend({
        ${1:// body}
      });
    """

  'Ember View':
    'prefix': 'view'
    'body': """
      import Ember from 'ember';

      export default Ember.View.extend({
        ${1:// body}
      });
    """

  'Ember Component':
    'prefix': 'component'
    'body': """
      import Ember from 'ember';

      export default Ember.Component.extend({
        ${1:// body}
      });
    """

  'Ember Mixin':
    'prefix': 'mixin'
    'body': """
      import Ember from 'ember';

      export default Ember.Mixin.create({
        ${1:// body}
      });
    """

  'Ember Object':
    'prefix': 'object'
    'body': """
      import Ember from 'ember';

      export default Ember.Object.extend({
        ${1:// body}
      });
    """

  'Ember Helper':
    'prefix': 'helper'
    'body': """
      import Ember from 'ember';

      export default Ember.Handlebars.makeBoundHelper(function() {
        ${1:// body}
      });
    """

  'Ember Model':
    'prefix': 'model'
    'body': """
      import DS from 'ember-data';

      export default DS.Model.extend({
        ${1:// body}
      });
    """

  'Ember REST Adapter':
    'prefix': 'adapter'
    'body': """
      import DS from 'ember-data';

      export default DS.RESTAdapter.extend({
        ${1:// body}
      });
    """

  'Ember Active Model Adapter':
    'prefix': 'active-adapter'
    'body': """
      import DS from 'ember-data';

      export default DS.ActiveModelAdapter.extend({
        ${1:// body}
      });
    """

  'Ember REST Serializer':
    'prefix': 'serializer'
    'body': """
      import DS from 'ember-data';

      export default DS.RESTSerializer.extend({
        ${1:// body}
      });
    """

  'Ember Active Model Serializer':
    'prefix': 'active-serializer'
    'body': """
      import DS from 'ember-data';

      export default DS.ActiveModelSerializer.extend({
        ${1:// body}
      });
    """

  'Ember Transform Serializer':
    'prefix': 'transform'
    'body': """
      import DS from 'ember-data';

      export default DS.Transforms.extend({
        ${1:// body}
      });
    """

  'Ember Initializer':
    'prefix': 'initializer'
    'body': """
      export default {
        name: '${1:name}',
        initialize: function() {
          ${2:// body}
        }
      };
    """

  'Ember Utility':
    'prefix': 'utility'
    'body': """
      export default function ${1:myUtility}() {
        ${2:// body}
      };
    """
