'.source.coffee':
  'Nested resource':
    'prefix': 'em_router_@resource'
    'body':
      """
        @resource( '${1:name}' , path: '${2:/some/item_id}' ) , ->
          @route "route_name"
      """
