'.source.coffee':

  'Ember.Route.extend(...':
    'prefix': 'em_route'
    'body':
      """
        _export = Ember.Route.extend(
        model: ->
          ${2}
        )
      """



  'afterModel: ...':
    'prefix': 'em_route_afterModel'
    'body':
      """
        afterModel: (${1:model}, transition) ->
          ${2:#logic...}
      """



  'beforeModel: ...':
    'prefix': 'em_route_beforeModel'
    'body':
      """
        beforeModel: (transition) ->
          ${1:#logic...}
      """



  'setupController: ...':
    'prefix': 'em_route_setupController'
    'body':
      """
        setupController: (transition) ->
          ${1:#logic...}
      """
