'.source.coffee':
  'Verbose resource (Nested)':
    'prefix': '@resource-v'
    'body':
      """
        @resource( '${1}' , path: '${2:/some/path/item_id}' ) , ->
          @route '${3}'
      """
      
  'Simple resource':
    'prefix': '@resource'
    'body':"@resource( '${1}' )"

  'Verbose @route':
    'prefix': '@route-v'
    'body':  "@route('${1}', path:'${2:/some/path}')"

  'Simple @route':
    'prefix': '@route'
    'body':  "@route('${1}')"

