'.source.coffee':


  'Ember.View.extend(...':
    'prefix': 'em_view'
    'body':
      """
        _export = Ember.View.extend(
          ${1}
        )
      """




  'Ember.TextField.extend(...':
    'prefix': 'em_view_textField'
    'body':
      """
        Ember.TextField.extend
          ${1:#logic...}
      """




  'Ember.TextArea.extend(...':
    'prefix': 'em_view_textArea'
    'body':
      """
        Ember.TextArea.extend
          ${1:#logic...}
      """




  'Ember.Checkbox.extend(...':
    'prefix': 'em_view_checkbox'
    'body':
      """
        Ember.Checkbox.extend
          ${1:#logic...}
      """




  'Ember.Select.extend(...':
    'prefix': 'em_view_Select'
    'body':
      """
        Ember.Select.extend
          ${1:#logic...}
      """




  'eventManager: ...':
    'prefix': 'em_view_eventManager'
    'body':
      """
        eventManager: Ember.Object.create(
          ${1:event} :
            ${2:#logic...}
        )
      """




  'tagName : null':
    'prefix': 'em_view_tagN'
    'body':
      """
        tagName: '${1:div}'
        ${2}
      """




  'attributeBindings : [...':
    'prefix': 'em_view_attrB'
    'body':
      """
        attributeBindings: ['${1:prop_to}:${2:attr}']
        ${1:prop_to}
      """




  'classNames : [...':
    'prefix': 'em_view_classN'
    'body':
      """
        classNames: ['${1:class-1}','${2:class-2}']
        ${2}
      """




  'classNameBindings : [...':
    'prefix': 'em_view_classNB'
    'body':
      """
        classNameBindings: ['${1:property_1:TruthyClass:FalsyClass}']
        ${2:property_1} : ${3:true}
      """




  'isVisible : null':
    'prefix': 'em_view_isVisible'
    'body':
      """
        isVisible: ${1:null}
      """



  'Ember willInsertElement Hook':
    'prefix': 'em_view_willInsertE'
    'body':
      """
        willInsertElement: ->
          ${1:#logic...}
      """



  'Ember didInsertElement Hook':
    'prefix': 'em_view_didInsertE'
    'body':
      """
        didInsertElement: ->
          ${1:#logic...}
      """



  'Ember willDestroyElement Hook':
    'prefix': 'em_view_willDestroyElement'
    'body':
      """
        willDestroyElement: ->
          ${1:#logic...}
      """



  'Ember parentViewDidChange Hook':
    'prefix': 'em_view_parentViewDidC'
    'body':
      """
        parentViewDidChange: ->
          ${1:#logic...}
      """



  'Ember willClearRender Hook':
    'prefix': 'em_view_willClearR'
    'body':
      """
        willClearRender: ->
          ${1:#logic...}
      """
